.git
.gitignore

.docker

# Note that .dockerignore does not support something like app/**/__pycache__
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/